
body {
  padding: 0;
  margin: 0;
}

.app-container {
  .header-container {
    .navbar-nav {
      z-index: 10;
      opacity: 0.6;
      .nav-link {
        &.active {
          color: #00bfff;
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;

  width: 100vw;
}